.idea/*
dev_env/*
dev_env/devenv/*
project/simulator/TrafficSimulator/traffic_simulator/yarn.lock
venv/*
.vscode/*
project/frontend/360_dashboard/package-lock.json
project/frontend/360_dashboard/yarn.lock
project/backend/360_django/djangosite/djangosite_api/migrations/0*
*.avi
*.icloud
*.pb
*.mp4
*.weights
project/backend/backend_django/camera/yolov3.weights
project/backend/backend_django/camera/recognition/test/__pycache__/*
project/backend/backend_django/camera/recognition/pyimagesearch/__pycache__/*
project/backend/backend_django/camera/camera/__pycache__/*