.dashboard{
    margin: auto;
    margin-top:32px;


}

.dashboard>table>tbody>tr{
    margin:0px;
}

.dashboard>table>tbody>tr>th{
    padding:auto;

}

.dashboard>table>tbody>tr>td{
    padding:0px;
}

#dashboard_header_btn_th{

    margin:0px;
    padding:0px;
}


#dashboard_header_btn:focus {outline:0;}

.dashboard_icon{
    font-size: 1.45rem;
    font-weight: bold;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
    border-radius: 0px;
}